main{
    width: 100%;
}
.left{
    width: 30%;
    padding-left: 0;
    padding: 10px 0;
}
.trailers{
    background-color: rgba(240, 248, 255, 0.288);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    width: 100%;
}
.trailers > h3{
    color: aliceblue;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 10px 0;
    padding: 0 10px;
}
.trailers > img{
    padding: 10px;
    border-radius: 30px;
}