a, p, h1, h2, h3, button, input{
    font-family: "Playfair Display", serif;
}
body{
    margin: 0;
    background-image: url("../images/14571523_5470679.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 80vh;
    padding: 10vh 5%;
}
.glass{
    width: 94%;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(18px);
    border-radius: 30px;
    padding: 3%;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 25%;
    height: 100%;
}
.search{
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(12px);
    border-radius: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    gap: 10px;
}